*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: #cac9c9;
}

.logo{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.logo img{
    height: 5rem;
}

form{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: white;
    border-radius: 2rem;
}

input{
    background-color: transparent;
    padding: 1rem;
    border: 0.1rem solid #2E8B57;
    border-radius: 0.4rem;
    color: black;
    font-size: 1rem;
}

input:focus{
    border: 0.1rem solid #006400;
    outline: none;
}

button{
    background-color: #2E8B57;
    color: white;
    padding: 1rem 2rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 1rem;
    text-transform: uppercase;
}

button:hover{
    background-color: #006400;
}

span{
    color: black;
    text-transform: uppercase;
}

span a{
    color: #006400;
    text-decoration: none;
    font-weight: bold;
}

.p{
    color: black;
    background-color: red;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    width: 100%;
    
}